.Header
  .header__upper
    .title
      =link_to root_path do
        = image_tag 'material/logo/logo.png', class: "title__logo"
    .searchform
      %input{ type: "text", class: "searchform__text", placeholder: "キーワードから探す" }
    .submit
      %button{ type: "submit", src: "images/icon-search 1.png", class: "submitbtn__btn" } 
        = image_tag "material/icon/icon-search 1.png", class: "submitbtn__icon"    

  .header__lower
    %ul.header__sub__leftBox__list
      %li.header__sub__leftBox__list__categoryMenu
        = link_to "カテゴリーから探す", root_path
        %ul.header__sub__leftBox__list1
          %li
            %a{:href => "/categories/1", id: "1", class: "category-parent"} レディース
          %li
            %a{:href => "/categories/200", id: "200", class: "category-parent"} メンズ
          %li
            %a{:href => "/categories/346", id: "346", class: "category-parent"} ベビー・キッズ
          %li
            %a{:href => "/categories/481", id: "481", class: "category-parent"} インテリア・住まい・小物
          %li
            %a{:href => "/categories/481", id: "625", class: "category-parent"} 本・音楽・ゲーム
          %li
            %a{:href => "/categories/685", id: "685", class: "category-parent"} おもちゃ・ホビー・グッズ
          %li
            %a{:href => "/categories/798", id: "798", class: "category-parent"} コスメ・香水・美容
          %li
            %a{:href => "/categories/898", id: "898", class: "category-parent"} 家電・スマホ・カメラ
          %li
            %a{:href => "/categories/984", id: "984", class: "category-parent"} スポーツ・レジャー
          %li
            %a{:href => "/categories/1093", id: "1093", class: "category-parent"} ハンドメイド
          %li
            %a{:href => "/categories/1147", id: "1147", class: "category-parent"} チケット
          %li
            %a{:href => "/categories/1207", id: "1207", class: "category-parent"} 自転車・オートバイ
          %li
            %a{:href => "/categories/1270", id: "1270", class: "category-parent"} その他




    -if user_signed_in?
      %ul.userpage
        %li.userpage__info
          = link_to "#" do
            お知らせ
        %li.userpage__todo
          = link_to "#" do
            やることリスト
        %li.userpage__mypage
          = link_to "/users/#{current_user.id}" do
            マイページ
    -else
      %ul.userlogin
        %li.login
          = link_to new_user_session_path do
            ログイン
        %li.registration
          = link_to new_user_registration_path do
            新規会員登録
