.Header
  .header__upper
    .title
      =link_to root_path do
        = image_tag 'material/logo/logo.png', class: "title__logo"
    .searchform
      %input{ type: "text", class: "searchform__text", placeholder: "キーワードから探す" }
    .submit
      %button{ type: "submit", src: "images/icon-search 1.png", class: "submitbtn__btn" } 
        = image_tag "material/icon/icon-search 1.png", class: "submitbtn__icon"

  .header__lower
    %ul.productlist
      %li.category
        = link_to "#" do
          カテゴリー
      %li.brand
        = link_to "#" do
          ブランド
    -if user_signed_in?
      %ul.userpage
        %li.userpage__info
          = link_to "#" do
            お知らせ
        %li.userpage__todo
          = link_to "#" do
            やることリスト
        %li.userpage__mypage
          = link_to "/users/#{current_user.id}" do
            マイページ
    -else
      %ul.userlogin
        %li.login
          = link_to new_user_session_path do
            ログイン
        %li.registration
          = link_to new_user_registration_path do
            新規会員登録