= form_for @item do |f|
  = f.fields_for :item_images do |i|
    = i.file_field :src
    %br/
  = f.submit
  .field
  = f.label :商品名
  %span.field__required 必須
  %br/
  = f.text_field :name
  .field
  = f.label :商品の説明
  %span.field__required 必須
  %br/
  = f.text_field :text
  .form__group
  = f.label :category_id do
    カテゴリー
    %span.form__require 必須
    %br/
    = f.select :condition, [''], {include_blank: '選択してください'}, class: 'condition'
  .field
  = f.label :ブランド
  %span.field__required 任意
  %br/
  = f.text_field :brand
  .field
  = f.label :商品の状態
  %span.field__required 必須
  %br/
  = f.select :condition, [''], {include_blank: '選択してください'}, class: 'condition'
  .field
  = f.label :配送料の負担
  %span.field__required 必須
  %br/
  = f.select :postage, [''], {include_blank: '選択してください'}, class: 'postage'
  .field
  = f.label :発送元の地域
  %span.field__required 必須
  %br/
  = f.select :region, [''], {include_blank: '選択してください'}, class: 'region'
  .field
  = f.label :発送までの日数
  %span.field__required 必須
  %br/
  = f.select :shipping_date, [''], {include_blank: '選択してください'}, class: 'shipping_date'
  .field
  = f.label :販売価格
  %span.field__required 必須
  %br/
  = f.text_field :price
  .actions
    = f.submit "出品する", class: "actions__submit"
  
-# = form_for @product do |f|
-#   商品名#{f.text_field :name}
-#   %br/
-#   価格#{f.number_field :price}
-#   %br/
-#   #image-box
-#     = f.fields_for :images do |image|
-#       .js-file_group{"data-index" => "#{image.index}"}
-#         = image.file_field :src, class: 'js-file'
-#         %br/
-#         %span.js-remove 削除
-#   = f.submit
