.header

.my_page
  .main
    .contents
      = render "users/left_menu"
      .contents__content

        .new_credit_title
          %h1 クレジットカード情報入力
        .new_credit_form_wrapper
          .new_credit_form_wrapper__contents
            = form_tag(new_item_path, method: :post,id: "charge-form",name: "inputForm") do
              .credit_form_title
                %p.title カード番号
                %p.necesary 必須
              = text_field_tag "number", "", class: "credit_form_text number number", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
              -# %input{type: "text",placeholder: "半角数字のみ",class: "credit_form_text number"}
              .credit_form_cards
                =image_tag "material/credits/credit-card_0.png"
                =image_tag "material/credits/credit-card_1.png"
                =image_tag "material/credits/credit-card_2.png"
                =image_tag "material/credits/credit-card_5.png"
                =image_tag "material/credits/credit-card_6.png"
              .credit_form_title
                %p.title 有効期限
                %p.necesary 必須
              .credit_form_date
                %select#exp_month{type: "text",class: "credit_form_select",name: "exp-month"}
                  %option{value: ""} --
                  %option{value: "1"}01
                  %option{value: "2"}02
                  %option{value: "3"}03
                  %option{value: "4"}04
                  %option{value: "5"}05
                  %option{value: "6"}06
                  %option{value: "7"}07
                  %option{value: "8"}08
                  %option{value: "9"}09
                  %option{value: "10"}10
                  %option{value: "11"}11
                  %option{value: "12"}12
                %span 月
                %select#exp_year{type: "text",class: "credit_form_select",name: "exp_year"}
                  %option{value: ""} --
                  %option{value: "2019"}19
                  %option{value: "2020"}20
                  %option{value: "2021"}21
                  %option{value: "2022"}22
                  %option{value: "2023"}23
                  %option{value: "2024"}24
                  %option{value: "2025"}25
                  %option{value: "2026"}26
                  %option{value: "2027"}27
                  %option{value: "2028"}28
                  %option{value: "2029"}29
                %span 年
              .credit_form_title
                %p.title セキュリティーコード
                %p.necesary 必須
              .credit_form_card_num
                = text_field_tag "cvc", "", class: "cvc credit_form_text", placeholder: "カード背面3~4桁の番号", maxlength: "4", id: "cvc",pettern: "/\A[0-9]+\z/"
                -# %input{type: "text",placeholder: "カード背面4桁もしくは3桁の番号",maxlength: "4",pettern: "/\A[0-9]+\z/",class: "credit_form_text"}
              -# %input{type: "submit",value: "追加する",class: "credit_form_submit"}
              = submit_tag "追加する", id: "token_submit",class: "credit_form_submit"
.app__footer


.footer