.header
  = render "shared/header"

.itemslist_main
  .itemslist_main__title
    商品一覧
  %ul.itemslist_main__contents
    -@items.each do |item|
      %li.itemslist_main__contents__list
        = link_to item_path(item) do
          = image_tag item_path, class: "itemslist_main__contents__list__img"
          .itemslist_main__contents__list__data
            .itemslist_main__contents__list__data__name
              = item.name
            %ul.itemslist_main__contents__list__data__details
              %li.itemslist_main__contents__list__data__details__price
                = item.price
              %li.itemslist_main__contents__list__data__details__likes
                ★4
            %p (税込)
      -# %li.itemslist_main__contents__list
      -#   = link_to "#" do
      -#     = image_tag 'material/pict/omake_zasshi_otona.png', class: "itemslist_main__contents__list__img"
      -#     .itemslist_main__contents__list__data
      -#       .itemslist_main__contents__list__data__name
      -#         付録つきファッション誌
      -#       %ul.itemslist_main__contents__list__data__details
      -#         %li.itemslist_main__contents__list__data__details__price
      -#           ¥3000
      -#         %li.itemslist_main__contents__list__data__details__likes
      -#           ★4
      -#       %p (税込)
      -# %li.itemslist_main__contents__list
      -#   = link_to "#" do
      -#     = image_tag 'material/pict/omake_zasshi_otona.png', class: "itemslist_main__contents__list__img"
      -#     .itemslist_main__contents__list__data
      -#       .itemslist_main__contents__list__data__name
      -#         付録つきファッション誌
      -#       %ul.itemslist_main__contents__list__data__details
      -#         %li.itemslist_main__contents__list__data__details__price
      -#           ¥3000
      -#         %li.itemslist_main__contents__list__data__details__likes
      -#           ★4
      -#       %p (税込)
      -# %li.itemslist_main__contents__list
      -#   = link_to "#" do
      -#     = image_tag 'material/pict/omake_zasshi_otona.png', class: "itemslist_main__contents__list__img"
      -#     .itemslist_main__contents__list__data
      -#       .itemslist_main__contents__list__data__name
      -#         付録つきファッション誌
      -#       %ul.itemslist_main__contents__list__data__details
      -#         %li.itemslist_main__contents__list__data__details__price
      -#           ¥3000
      -#         %li.itemslist_main__contents__list__data__details__likes
      -#           ★4
      -#       %p (税込)
      -# %li.itemslist_main__contents__list
      -#   = link_to "#" do
      -#     = image_tag 'material/pict/omake_zasshi_otona.png', class: "itemslist_main__contents__list__img"
      -#     .itemslist_main__contents__list__data
      -#       .itemslist_main__contents__list__data__name
      -#         付録つきファッション誌
      -#       %ul.itemslist_main__contents__list__data__details
      -#         %li.itemslist_main__contents__list__data__details__price
      -#           ¥3000
      -#         %li.itemslist_main__contents__list__data__details__likes
      -#           ★4
      -#       %p (税込)
      -# %li.itemslist_main__contents__list
      -#   = link_to "#" do
      -#     = image_tag 'material/pict/omake_zasshi_otona.png', class: "itemslist_main__contents__list__img"
      -#     .itemslist_main__contents__list__data
      -#       .itemslist_main__contents__list__data__name
      -#         付録つきファッション誌
      -#       %ul.itemslist_main__contents__list__data__details
      -#         %li.itemslist_main__contents__list__data__details__price
      -#           ¥3000
      -#         %li.itemslist_main__contents__list__data__details__likes
      -#           ★4
      -#       %p (税込)
      -# %li.itemslist_main__contents__list
      -#   = link_to "#" do
      -#     = image_tag 'material/pict/omake_zasshi_otona.png', class: "itemslist_main__contents__list__img"
      -#     .itemslist_main__contents__list__data
      -#       .itemslist_main__contents__list__data__name
      -#         付録つきファッション誌
      -#       %ul.itemslist_main__contents__list__data__details
      -#         %li.itemslist_main__contents__list__data__details__price
      -#           ¥3000
      -#         %li.itemslist_main__contents__list__data__details__likes
      -#           ★4
      -#       %p (税込)
      -# %li.itemslist_main__contents__list
      -#   = link_to "#" do
      -#     = image_tag 'material/pict/omake_zasshi_otona.png', class: "itemslist_main__contents__list__img"
      -#     .itemslist_main__contents__list__data
      -#       .itemslist_main__contents__list__data__name
      -#         付録つきファッション誌
      -#       %ul.itemslist_main__contents__list__data__details
      -#         %li.itemslist_main__contents__list__data__details__price
      -#           ¥3000
      -#         %li.itemslist_main__contents__list__data__details__likes
      -#           ★4
      -#       %p (税込)
      -# %li.itemslist_main__contents__list
      -#   = link_to "#" do
      -#     = image_tag 'material/pict/omake_zasshi_otona.png', class: "itemslist_main__contents__list__img"
      -#     .itemslist_main__contents__list__data
      -#       .itemslist_main__contents__list__data__name
      -#         付録つきファッション誌
      -#       %ul.itemslist_main__contents__list__data__details
      -#         %li.itemslist_main__contents__list__data__details__price
      -#           ¥3000
      -#         %li.itemslist_main__contents__list__data__details__likes
      -#           ★4
      -#       %p (税込)
      -# %li.itemslist_main__contents__list
      -#   = link_to "#" do
      -#     = image_tag 'material/pict/omake_zasshi_otona.png', class: "itemslist_main__contents__list__img"
      -#     .itemslist_main__contents__list__data
      -#       .itemslist_main__contents__list__data__name
      -#         付録つきファッション誌
      -#       %ul.itemslist_main__contents__list__data__details
      -#         %li.itemslist_main__contents__list__data__details__price
      -#           ¥3000
      -#         %li.itemslist_main__contents__list__data__details__likes
      -#           ★4
      -#       %p (税込)
      -# %li.itemslist_main__contents__list
      -#   = link_to "#" do
      -#     = image_tag 'material/pict/omake_zasshi_otona.png', class: "itemslist_main__contents__list__img"
      -#     .itemslist_main__contents__list__data
      -#       .itemslist_main__contents__list__data__name
      -#         付録つきファッション誌
      -#       %ul.itemslist_main__contents__list__data__details
      -#         %li.itemslist_main__contents__list__data__details__price
      -#           ¥3000
      -#         %li.itemslist_main__contents__list__data__details__likes
      -#           ★4
      -#       %p (税込)
      -# %li.itemslist_main__contents__list
      -#   = link_to "#" do
      -#     = image_tag 'material/pict/omake_zasshi_otona.png', class: "itemslist_main__contents__list__img"
      -#     .itemslist_main__contents__list__data
      -#       .itemslist_main__contents__list__data__name
      -#         付録つきファッション誌
      -#       %ul.itemslist_main__contents__list__data__details
      -#         %li.itemslist_main__contents__list__data__details__price
      -#           ¥3000
      -#         %li.itemslist_main__contents__list__data__details__likes
      -#           ★4
      -#       %p (税込)



.banner
  = render "shared/banner"

.footer
  = render "shared/footer"